<div class="container">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&times;</i>
				</div>
			</div>
			<div class="modal-body">
				<h4 class="modal-title">¿Desea borrar ese lugar?</h4>
				<p>{{ lugar.titulo }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" (click)="cancel()">
					Cancel
					<img src="assets/img/horror.png" />
				</button>
				<button type="button" class="btn btn-danger" (click)="delete(lugar.id)">
					<img src="assets/img/ghost.png" />
					Boorra
				</button>
			</div>
		</div>
	</div>
</div>